{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ad atque, voluptas alias dicta nisi ipsum aliquam sequi suscipit architecto asperiores quaerat! Commodi doloribus aspernatur voluptatibus id incidunt enim libero sunt distinctio perspiciatis corporis optio voluptate quisquam cumque mollitia, minima, qui necessitatibus inventore vel reiciendis modi delectus eum tenetur natus? Iste similique, tempore et sunt veniam natus recusandae ullam, minus assumenda ut ipsa porro at eaque officiis hic soluta harum, non architecto nostrum! Rerum explicabo blanditiis tempore, obcaecati repellat ducimus perspiciatis, a repellendus harum, quisquam officia! Facere non, incidunt quos repellat commodi esse. Optio magnam impedit temporibus doloremque, voluptatem inventore.</p>
{% endblock %}